<div class="container-products">
    <div style="border: 1px solid black;" class="box1">
        <p>{{ product.id }}</p>
        <p>{{ product.title | reverse }}</p>
        <p appHighlight>{{ product.description }}</p>
        <p>Precio: {{ product.price | currency: "COP"}}</p>
        <p>Impuesto: {{ product.taxes | currency: "COP"}}</p>
        <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
    </div>

    <button (click)="onShowDetail()">show detail</button>

    <button (click)="onAddToCart()">add to cart</button>
</div>