<!-- <p><input type="text" [(ngModel)]="imgParent"></p>

<button (click)="toggleImg()">Toggle Image</button>
<p>{{ showImg }}</p>

<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->

<!-- <button *ngIf="!profile" (click)="login()">Login</button> -->
<!-- <button (click)="getProfile()">Get-Profile</button> -->

<button (click)="createUser()">Create-User</button>
<button (click)="downloadPdf()">Download PDF</button>

<input type="file" (change)="onUploadImg($event)">
<img [src]="imgRta" alt="" *ngIf="imgRta">
<hr>

<app-nav></app-nav>

<router-outlet></router-outlet>

<!-- <app-products></app-products> -->

